.loginForm {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.errorMessage {
  color: red;
  font-size: 0.9rem;
  font-weight: 600;
}

.moreActionsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem auto 2.5rem auto;
}

.forgotPasswordLink {
  text-decoration: none;
  color: #1877f2;
  letter-spacing: 0.2px;
  font-weight: 400;
  font-size: 0.9rem;
}

.authSwitchContainer {
  width: 100%;
  background: #dadada;
  padding: 1.5rem 0;
  display: grid;
  place-items: center;
}

.authSwitchText {
  font-size: 0.95rem;
  font-weight: 400;
}
